name: Azure Boards Gateway

on:
  workflow_dispatch:
    inputs:
      raw:
        required: true
        type: string

jobs:
  forward:
    runs-on: ubuntu-latest
    steps:
      - name: Forward payload to repository_dispatch
        run: |
          echo "Forwarding payload:"
          echo "${{ github.event.inputs.raw }}"

          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/JulioQes/POC-LAUREATE-BOARD/dispatches \
            -d "${{ github.event.inputs.raw }}"
