name: Gateway Dispatcher

on:
  workflow_dispatch:
    inputs:
      event_type:
        type: string
        required: true
      ticket:
        type: string
        required: true
      prefix:
        type: string
        required: true
      title:
        type: string
        required: true

jobs:
  dispatch:
    runs-on: ubuntu-latest

    steps:
      - name: Build dispatch payload
        run: |
          cat <<EOF > payload.json
          {
            "event_type": "${{ github.event.inputs.event_type }}",
            "client_payload": {
              "prefix": "${{ github.event.inputs.prefix }}",
              "ticket": "${{ github.event.inputs.ticket }}",
              "title": "${{ github.event.inputs.title }}"
            }
          }
          EOF

      - name: Send repository_dispatch
        run: |
          curl -X POST \
            -H "Accept: application/vnd.github+json" \
            -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
            https://api.github.com/repos/JulioQes/POC-LAUREATE-BOARD/dispatches \
            -d @payload.json
